<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OpenSchematicViewer</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static', filename='schdoc.js/helper/base64_binary.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='schdoc.js/helper/ole.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='schdoc.js/helper/helper_extensions.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='schdoc.js/helper/u8stream.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='schdoc.js/schdoc_parser.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='movement.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='schdoc.js/vector_renderer.js') }}"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@svgdotjs/svg.js@latest/dist/svg.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <header>
        <div class="inner-header flex">
            <div class="flex">
                <button onclick="window.location.href = '/'">←</button>
                <h1>{{ name.replace('_', ' ') }}</h1>
            </div>
        </div>
    </header>
    <content>
        <nav>
            <div class="nav">
                <ul >
                    <p>Variants</p>
                    {% for u, v in variants.items() %}
                        <li id="{{ u }}" class="variant lvl1" onclick="setVariant('{{u}}')">{{ v }}</li>
                    {% endfor %}
                </ul>
                <ul>
                    <p>Schematics</p>
                    {% for sch in schematics.keys() %}
                        <li id="{{ sch }}" class="schematic lvl{{hierarchy.get(sch, 1)}}" onclick="setSchematic('{{sch}}')">
                            {{ sch }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
        <main id="main-area" />
    </content>
	<script type="text/javascript">
        var selected_schematic = "";
        var selected_variant = "";
        document.onkeydown = e => e.preventDefault();

        function setSchematic(name) {
            $('li.schematic').each(function(){
                $("li.schematic").removeClass("selected");
                $(`li#${name}`).addClass("selected");
            });
            selected_schematic = name;
            getConfiguraiton()
        }

        function setVariant(uid)
        {
            let url = `/variant/{{name}}/${uid}`;
            $('li.variant').each(function(){
                $("li.variant").removeClass("selected");
                $(`li#${uid}`).addClass("selected");
            });
            selected_variant = uid;
            getConfiguraiton()
        }
        
        function getConfiguraiton()
        {
            const variant_url = `/variant/{{name}}/${selected_variant}`;
            const schematic_url = `/schematic/{{name}}/${selected_schematic}`;
            $.getJSON(variant_url, variant_data => {
                $.getJSON(schematic_url, data => {
                    renderSchematic(data.name, variant_data, data.result)
                }); 
            });
        }

        function renderSchematic(schematic_name, variant, data)
        {
            let area = document.getElementById("main-area");
            area.innerHTML = "";
            let render_area = SVG().addTo('#main-area').size(area.offsetWidth, area.offsetHeight)
            render_area.width = area.offsetWidth
            render_area.height = area.offsetHeight
            let altiumDocument = new AltiumDocument(data);
            altiumDocument.setVariant(variant);
            window.altiumDocument = altiumDocument;
            // Remap images to backend
            let images = altiumDocument.objects.filter((o) => o instanceof AltiumImage)
            for (let image of images)
            {
                let uid = btoa(image.filename)
                image.filename = `/image/{{name}}/${schematic_name}/${uid}.bmp`
            }

            let renderer = new AltiumSchematicRenderer(window, render_area, altiumDocument);
            renderer.render();
            window.renderer = renderer;
            shape = document.getElementsByTagName("svg")[0];
            initMovement(shape);
        }

        setVariant("default")
    </script>
  </body>
</html>