<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>electrical goose</title>
    <script type="text/javascript" src="{{ url_for('static', filename='schdoc.js/helper/base64_binary.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='schdoc.js/helper/ole.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='schdoc.js/helper/helper_extensions.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='schdoc.js/helper/u8stream.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='schdoc.js/schdoc_parser.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='movement.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='schdoc.js/vector_renderer.js') }}"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@svgdotjs/svg.js@latest/dist/svg.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="text-zinc-200 bg-zinc-900 flex" onload="setSchematic('{{schematics[0]}}')">
    <aside class="flex flex-col w-64 h-screen px-5 py-8 overflow-y-auto border-r rtl:border-r-0 rtl:border-l bg-zinc-200 border-zinc-100">
        <a href="#" class="flex">
            <img class="w-auto h-9" src="{{ url_for('static', filename='goose.svg') }}" alt="">
            <div class="flex flex-col">
                <label class="px-3 text-xs text-zinc-600 font-thin">electrical</label>
                <label class="px-3 text-xs text-zinc-600 font-thin">{{ name }}</label>
            </div>
        </a>

        <div class="flex flex-col justify-between flex-1 mt-6">
            <nav class="-mx-3 space-y-6 ">
                <div class="space-y-3 ">
                    <label class="px-3 text-xs text-zinc-500 uppercase">variants</label>
                    {% for u, v in variants.items() %}
                        <a class="flex items-center px-3 py-2 text-zinc-700 transition-colors duration-300 transform rounded-lg hover:bg-amber-100 hover:text-zinc-800" href="#" id="{{ u }} onclick="setVariant('{{u}}')">
                            <i class="bi-layers"></i>
                            <span class="mx-2 text-sm font-medium">{{ v }}</span>
                        </a>
                    {% endfor %}
                </div>
                <div class="space-y-2">
                    <label class="px-3 text-xs text-zinc-500 uppercase">schematics</label>
                    {% for sch in schematics %}
                        <a class="flex items-center px-3 py-2 text-zinc-700 transition-colors duration-300 transform rounded-lg hover:bg-amber-100 hover:text-zinc-800" href="#" id="{{ sch }}" onclick="setSchematic('{{sch}}')">
                            <div class="h-full border-l-2 border-gray-900"></div>
                            <i class="bi-file-post"></i>
                            <span class="mx-2 text-sm font-medium">{{ sch }}</span>
                        </a>
                    {% endfor %}
                </div>

                <div class="space-y-3 ">
                    <label class="px-3 text-xs text-zinc-500 uppercase">layout (coming soon)</label>

                    <a class="flex items-center px-3 py-2 text-zinc-700 transition-colors duration-300 transform rounded-lg hover:bg-amber-100 hover:text-zinc-800" href="#">
                        <i class="bi-motherboard"></i>
                        <span class="mx-2 text-sm font-medium">{{ name }}</span>
                    </a>

                </div>

                <div class="space-y-3 ">
                    <label class="px-3 text-xs text-zinc-500 uppercase">File Generation (coming soon)</label>

                    <a class="flex items-center px-3 py-2 text-zinc-700 transition-colors duration-300 transform rounded-lg hover:bg-gray-800 hover:text-zinc-700" href="#">
                        <i class="bi-file-text"></i>
                        <span class="mx-2 text-sm font-medium">Fabrication Drawing</span>
                    </a>

                    <a class="flex items-center px-3 py-2 text-zinc-700 transition-colors duration-300 transform rounded-lg hover:bg-gray-800 hover:text-zinc-700" href="#">
                        <i class="bi-file-text"></i>
                        <span class="mx-2 text-sm font-medium">Assembly Drawing</span>
                    </a>
                </div>
            </nav>
        </div>
    </aside>
    <div id="main-area" class="flex-grow">

    </div>

	<script type="text/javascript">
        var selected_schematic = "";
        var selected_variant = "";
        document.onkeydown = e => e.preventDefault();

        function setSchematic(name) {
            selected_schematic = name;
            getConfiguration()
        }

        function setVariant(uid)
        {
            let url = `/variant/{{name}}/${uid}`;
            $('li.variant').each(function(){
                $("li.variant").removeClass("selected");
                $(`li#${uid}`).addClass("selected");
            });
            selected_variant = uid;
            getConfiguration()
        }
        
        function getConfiguration()
        {
            const variant_url = `/variant/{{name}}/${selected_variant}`;
            const schematic_url = `/schematic/{{name}}/${selected_schematic}`;
            $.getJSON(variant_url, variant_data => {
                $.getJSON(schematic_url, data => {
                    renderSchematic(data.name, variant_data, data.result)
                }); 
            });
        }

        function renderSchematic(schematic_name, variant, data)
        {
            let area = document.getElementById("main-area");
            area.innerHTML = "";
            let render_area = SVG().addTo('#main-area').size(area.offsetWidth, area.offsetHeight)
            render_area.width = area.offsetWidth
            render_area.height = area.offsetHeight
            let altiumDocument = new AltiumDocument(data);
            altiumDocument.setVariant(variant);
            window.altiumDocument = altiumDocument;
            // Remap images to backend
            let images = altiumDocument.objects.filter((o) => o instanceof AltiumImage)
            for (let image of images)
            {
                let uid = btoa(image.filename)
                image.filename = `/image/{{name}}/${schematic_name}/${uid}.bmp`
            }

            let renderer = new AltiumSchematicRenderer(window, render_area, altiumDocument);
            renderer.render();
            window.renderer = renderer;
            shape = document.getElementsByTagName("svg")[0];
            initMovement(shape);
        }

        setVariant("default")
    </script>
  </body>
</html>