<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OpenSchematicViewer</title>
    <script type="text/javascript" src="{{ url_for('static', filename='schdoc.js/helper/base64_binary.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='schdoc.js/helper/ole.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='schdoc.js/helper/helper_extensions.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='schdoc.js/helper/u8stream.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='schdoc.js/schdoc_parser.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='movement.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='schdoc.js/vector_renderer.js') }}"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@svgdotjs/svg.js@latest/dist/svg.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <header>
        <div class="inner-header flex">
            <div class="flex">
                <button onclick="window.location.href = '/'">←</button>
                <h1>{{ name }}</h1>
            </div>
        </div>
    </header>
    <content>
        <nav>
            <div class="nav">
                <ul >
                    <p>Variants</p>
                    {% for u, v in variants.items() %}
                        <li id="{{ u }}"class="variant" onclick="setVariant('{{u}}')">░  {{ v }}</li>
                    {% endfor %}
                </ul>
                <ul>
                    <p>Schematics</p>
                    {% for sch in schematics %}
                        <li id="{{ sch.name }}" class="schematic" onclick="getSchematic('{{sch.name}}')">
                            ▩  {{ sch.name }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
        <main id="main-area" />
    </content>
	<script type="text/javascript">
        document.onkeydown = e => e.preventDefault();

        function getSchematic(name)
        {
            let url = `/schematic/{{name}}/${name}`;
            $('li.schematic').each(function(){
                $("li.schematic").removeClass("selected");
                $(`li#${name}`).addClass("selected");
            });
            $.getJSON(url, data => renderSchematic(name, data.result)); 
        }

        function setVariant(uid)
        {
            let url = `/variant/{{name}}/${uid}`;
            $('li.variant').each(function(){
                $("li.variant").removeClass("selected");
                $(`li#${uid}`).addClass("selected");
            });
            $.getJSON(url, data => {
                if (Object.keys(data.result).length === 0)
                    return
                Object.keys(data.result).forEach(key => {
                    if (Object.keys(data.result[key]).length === 0)
                        window.renderer.crossOutRefDes(key);
                });
            }); 
        }

        function renderSchematic(schematic_name, data)
        {
            let area = document.getElementById("main-area");
            area.innerHTML = "";
            let render_area = SVG().addTo('#main-area').size(area.offsetWidth, area.offsetHeight)
            render_area.width = area.offsetWidth
            render_area.height = area.offsetHeight
            let altiumDocument = new AltiumDocument(data);
            window.altiumDocument = altiumDocument;
            // Remap images to backend
            let images = altiumDocument.objects.filter((o) => o instanceof AltiumImage)
            for (let image of images)
            {
                let uid = btoa(image.filename)
                image.filename = `/image/{{name}}/${schematic_name}/${uid}.bmp`
            }

            let renderer = new AltiumSchematicRenderer(render_area, altiumDocument);
            renderer.render();
            window.renderer = renderer;
            shape = document.getElementsByTagName("svg")[0];
            initMovement(shape);
        }

        setVariant("default")
        getSchematic("{{ schematics[0].name }}")
    </script>
  </body>
</html>